/* Created by Stina Sköld */

body {
  background: #222;
  color: #fff;
}

body, main .container-fluid, .row {
  margin: 0;
  padding: 0;
  width: 100%;
}

footer {
  position: relative;
  bottom: 20px;
}

footer p {
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

h1 {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #222;
  width: 100%;
  font-family: 'Satisfy', sans-serif;
  font-size: 3em;
}

ul {
  background-color: #222;
  margin: 0;
  padding-top: 30px;
}

li {
  display: inline;
}

img {
  padding: 10px;
  background-color: #222;
}

button {
  margin-top: 20px;
  background-color: #3399FF;
}

button:hover {
  background-color: #60b0ff;
}

label {
  font-size: 1.5em;
}

.form-group {
  padding-right: 8%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.interesting {
  padding-right: 0;
}

.keyword {
  padding-left: 8%;
}

.location {
  padding-left: 8%;
}

/* centered columns styles */
.row-centered {
    margin: 0 auto;
}

.search-div {
  background-color: #333;
  margin: 0;
  margin-top: 50px;
  padding-top: 50px;
}

.small {
  font-size: 1em;
  margin-top: 10px;
}

.info {
  margin-top: 20px;
}
